.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 100px 0px;
  font-family: 'Rubik', sans-serif;
  max-width: 1200px;
  gap: 30px;
}

.proj {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}