.mainContainer{
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 0 20px;
  background-color: var(--background-primary);
  color: var(--text-primary);
  align-content: center;
  justify-content: center;
  text-align: center;
}

.mainText{
  line-height: 40px;
  text-shadow: 2px 2px black;
}
.buttonContainer{
  display: flex;
  justify-content: center;

}