@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap');

.mainContainer{
  font-family: 'Neuton', serif;
  font-size: clamp(3.5rem, 20vw ,5rem);
  display: flex;
  justify-content: left;
  align-items: center;
  color: white;
  width: 100%;  
  font-size: clamp(2rem, 10.5vw, 6rem);
}