@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

.navbar {
  background-color: hsl(0, 0%, 0%);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  max-width: 1200px;
  overflow-x: auto;
  position: sticky;
  top: 0;
  z-index: 10;
}

.navbar__list {
  background-color: hsla(0, 0%, 96%, 0);
  display: flex;
  gap: 10px;
}

.navbar__item {
  list-style: none;
}


.navbar__item a {
  font-size: 1.4rem;
  font-family: "Raleway", serif;
  color: white;
  text-decoration: none;
  padding: 20px;
  border-radius: .5rem;
  color: rgb(206, 206, 206);
  transition: .25s;
  background-color: black;
}

.navbar__item a:hover {
  background-color: rgb(19, 19, 19);
  color: rgb(255, 255, 255);
}

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1d1d1d;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: .8rem;
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media screen and (max-width: 600px) {
  .navbar {
    justify-content: flex-start;
  }

}