.mainContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.tip{
  visibility: hidden;
  font-size: 1.2rem;
  justify-content: center;
  align-items: center;
  color: white;
  top:0;
  position: relative;
  transition: transform 0.4s;
  -webkit-transition: transform 0.4;
  transform: translateY(0px);
}
div.mainContainer:hover>span{
  visibility:visible;
  transform: translateY(10px);
}

.mainContainer>img{
  width: 60px;
}
