.mainContainer{
  display: flex;
  background-color: var(--secondary);
  flex-direction: column;
  align-items: center;
  padding: 60px 20px;
  color: var(--primary);
  min-height: 100vh;
  gap:20px;
}
.skillsContainer{
  border: 5px solid var(--primary);
  box-shadow: -7px 7px var(--accent);
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: .5rem;
}
.smallHeader{
  flex:1;
}
.iconContainer{
  font-size: 32px;
  display: flex;
  align-items: center;
  gap: 7px;
  padding: 5px 22px ;
  flex-wrap: wrap;
}
.iconText{
  font-size: 18px;
}
.tooltip {
}
.sectionContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.skillsHeader{
  font-weight: 800;
  font-size: 1.2rem;
  padding: 10px 10px;
}
.projectContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  width: 100%;
  
}

.sectionHeader{
  font-size: 3rem;
  font-weight: 400;
}
