@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

.mainContainer {
  padding: 100px 0px;
  display: flex;
  flex-direction: column;
  font-family: 'Rubik', sans-serif;
  width: 100%;
  max-width: 1200px;
  gap: 30px;

}

.mainContainer>h1 {
  font-size: 3rem;
}

.mainContainer>p {
  font-size: 1.2rem;
  line-height: 2rem;

}