@import url('https://fonts.googleapis.com/css2?family=Vollkorn&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');

.mainContainer {
  display: flex;
  gap: 30px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 20px;
  color: var(--secondary);
  padding-top: 50px;

}

.text {
  font-family: 'Nunito Sans', sans-serif;
  letter-spacing: 1px;
  color: var(--accent);
  line-height: 34px;
  background-color: var(--primary);
  padding: 30px 20px;
  text-align: left;
  font-weight: bold;
  font-size: clamp(.7rem, calc(0.8rem + 0.98vw), 1.5rem);
  box-shadow: -7px 0px white;
}

.text>span {
  display: inline;
  text-overflow: wrap;
}

@media (max-width:600px) {
  .text {
    text-overflow: wrap;
    box-shadow: none;
    padding: 0px 0px
  }

}