.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image {
  max-width: 450px;
  width: 100%;
  object-fit: contain;
  object-position: center;
  border-radius: .35rem;
  box-shadow:
    -18px 22px var(--secondary),
    -20px 20px black;
}

.header {
  color: black;
  background-color: white;
  font-weight: 800;
  font-size: 1.5rem;
  padding: 10px 20px;
  position: relative;
  top: -50px;
  display: flex;
  border: 2px black solid;

}

.headContainer {
  display: flex;
  justify-content: flex-end;
}

.textContainer {
  position: relative;
  top: -5px;
  background-color: rgba(18, 18, 18, 0.907);
  color: white;
  padding: 20px 40px;
  max-width: 500px;
  font-size: 1.2rem;
  line-height: 26px;
  border-radius: .35rem;
}

.links {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  gap: 20px;
  padding-top: 20px;
  font-size: 1rem;
}


.break {
  border: 1px black solid;
  margin: 20px 0px;
}

.tools {
  font-style: italic;
  font-size: .9rem;
}

@media (max-width:600px) {
  .image {
    max-width: 325px;
    box-shadow: none;
  }

  .headContainer {
    padding: 0;
  }
}