.mainContainer {
  padding: 100px 0px;
  display: flex;
  flex-direction: column;
  font-family: 'Rubik', sans-serif;
  width: 100%;
  max-width: 1200px;
  gap: 30px;
}

.items {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}