@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

.mainContainer {
  font-family: 'Rubik', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1200px;
  z-index: 2;
  padding: 130px 0px;
  gap: 30px;
}

.mainContainer>h1 {
  justify-self: flex-start;
}

.mainContainer>p {
  line-height: 1.7rem;
}

.mainContainer>p>a {
  border-bottom: 3px #9D00FF solid;
  background: linear-gradient(#252525, black 50%, 50%, #9D00FF);
  background-size: 100% 200%;
  padding: 2px 5px;
  margin: 0px 3px;
  transition: .5s;
  text-decoration: none;
  color: white;
}

.mainContainer>p>a:hover {
  cursor: pointer;
  border-bottom: 3px #9D00FF solid;
  background-color: #9D00FF;
  padding: 2px 5px;
  background-position: 100% 100%;
}

.outro {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: center;
  gap: 20px;
}

img {
  width: 400px;
  border-radius: 20px;
}

.iconsContainer {
  display: flex;
  gap: 20px;

}

.icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: white;
  text-decoration: none;
  transition: transform .3s cubic-bezier(0.215, 0.610, 0.355, 1) .1s;
  gap: 7px;
  flex: 1;
}

.icon:hover {
  transform: translateY(-3px);
}