.mainContainer{
  display: flex;
  padding: 0 20px;
  background-color: var(--primary);
  color: white;
  text-shadow: -3px 3px black;
  justify-content: space-between;
  align-items: center;
}
.buttonContainer{
  display: flex;
  gap: 12px;
}
.navButton{
  border: 2px var(--accent) solid;
  background-color: var(--primary);
  color: white;
  padding: 7px 7px;
  border-radius: .25rem;
  cursor: pointer;
  font-weight: 700;
  transition: transform .6s ease-in-out;
  text-decoration: none;
  text-shadow: none;
}
button:hover{
  transform: scale(1.1);
}
.menuIcon{
  display: none;
}

@media (max-width: 600px) {
  .buttonContainer {
    display: none;
  }
  .menuIcon{
    display: flex;
  }

}