.mainContainer{
  display: flex;
  align-items: center;
  padding: 0 20px;
  background-color: var(--accent);
}
.name{
  flex: 1;
  display: flex;
  gap: 5px;
  justify-content: center;
  
}
.name > span{
  color: var(--background-secondary)

}

button{
  border: none;
  border-radius: .55rem;
  cursor: pointer;
  
}
.icon{
  transition: transform .5s;
  transform: scale(1);

}
.icon:hover{
  transform: scale(1.16);
}


