.mainContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap:20px;
  padding: 0px 20px;
  height: 100vh;
  opacity: 1;
  background-color: var(--secondary);
  width: 100%;
}

.textContainer{
  border-radius: .25rem;
  line-height: 26px;
  padding: 20px 20px;
  display: flex;
  box-shadow: -10px 10px black;
  font-size: clamp(1rem, calc( 9px + 1.1vw ), 1.8rem);
  background-color: var(--accent);  
  opacity: 1;
}
.text{
  display: inline-block;
  font-weight: 700;
  background-color: black;
  color: var(--accent);
  padding: 2px 7px;
  opacity: 1;
  font-size: clamp(1rem, calc( 9px + 1.1vw ), 1.5rem);
}
.butText{
  align-items: center;
}
.centeredText{
  text-align: center;
}

.checkOut{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: .25rem;
  min-width: 200px;
  text-decoration: none;
  background-color: var(--primary);
  color: white;
  font-weight: 800;
  padding: 10px 7px;
  border: 2px white solid;
}



