@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap');

:root{
  --background-primary: #f6ae2d;
  --background-secondary: #304c89;
  --text-primary: #1d1e18;
  --text-secondary: #9ed0ae;    
  --accent-colour: #1e96fc;
  --header-font:'Oleo Script Swash Caps', cursive;
  --header-text: clamp(1.5rem, 1.0909rem + 2.1818vw, 3rem);
}

.WholeContainer{
  display: flex;
  justify-content: center;
  background-color: var(--background-primary);
}
.App{
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.header{
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--accent-colour);
  color: var(--text-primary);
  position: sticky;
  top:0;
  flex:1;
}
section{
  border-top: 2px black dashed;
}
.header > h1{
  font-family: var(--header-font);
  font-size: var(--header-text);
  text-shadow: 2px 2px white;
}
a{
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-secondary);
  color: white;
  border: 3px black solid;
  border-radius: 20px 40px;
  min-width: 100px;
  height: 50px;
  transition: border-radius .5s;
  text-shadow: 2px 2px black;
}
a:hover{
  border-radius: 20px ;
  transition: border-radius .5s;
}
.ButtonContainer{
  display: flex ;
  gap:7px;
}
.introSection{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 10px;
  height: 100vh;
  text-align: center;
}
.odinImg{
  max-width: 350px;
  background-color: var(--background-secondary);
  border-radius: 1.2rem;
}




@media screen and (max-width:800px){
  .header{
    justify-content: center;
    align-items: center;
  }
  .header > h1 {
    display: flex;
  }
  a{
    font-size: 20px;
    border: none;
    background-color: var(--accent-colour);
    color: black;
    font-weight: 800;
    text-shadow: white 2px 2px 2px;
  }

}