.App {
  display: flex;
  padding: 0px 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  width: 100%;
  background-color: black;
  color: white;
}

.mainContainer {
  font-family: 'Rubik', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 1200px;
  width: 100%;
  z-index: 2;
  padding: 130px 0px;
  gap: 30px;
}