@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

:root {
  --primary: #252525;
  --secondary: #252525;
  --accent: #ffff;
  --header-font: 'Oleo Script Swash Caps', cursive;
  --header-text: clamp(1.5rem, 1.0909rem + 2.1818vw, 3rem);
  --text-font: 'Merriweather', serif;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: black;
}

@media screen and (min-width: 800px) {
  body {
    display: flex;
    justify-content: center;
  }

}