@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap');

:root{
  --background-primary: #073B4C;
  --background-secondary: #304c89;
  --text-primary: #EF476F;
  --text-secondary: #FFD166;    
  --accent: #06D6A0;
  --header-font:'Oleo Script Swash Caps', cursive;
  --header-text: clamp(1.5rem, 1.0909rem + 2.1818vw, 3rem);
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
