.mainContainer{
  display: flex;
  border: 1px white solid; 
  padding: 7px 10px;
  text-decoration: none;
  color: white;
  transition: transform .4s;
}
.mainContainer:hover{
  transform: rotate(-10deg);

}